<%- first = (event_counter == 0 and event.upcoming?) %>
<% if event_counter == 1 %>
  <div class="contenedor">
<% end %>

<div id="event_<%= event.id %>" class="<%= !event.upcoming? ? "third" : (first ? "first" : "second")%>">
  <div class="datetime">
    <div class="month"><%= localize_date(event.date, :month_name).upcase %></div>
    <div class="day"><%= event.date.strftime("%e") %></div>
    <div class="weekday"><%= localize_date(event.date, :day_name) %></div>
    <div class="time"><%= localize_time(event.date, :short_time) if event.upcoming? %></div>
    <%= display_edit_event_link event if event.upcoming? %>
  </div>

  <div class="main-data">
    <span class="title"><%= link_to event.name, main_app.event_path(event) %></span><br>
    <div class="location">
      <div class="img"><%= image_tag "pin.png", id: "maker", align: "left", size: "25x38" %></div>
      <div class="info">
        <div class="place"><%= event.location %></div>
        <div class="address"><%= event.address %></div>
        <div class="organizer"><%= t('.organizer', organize: event.organizer) %></div>
      </div>
    </div>
    <% if event.upcoming? %>
      <div class="description">
        <%= event.description %>
      </div>
    <% end %>
  </div>
</div>

<% if (event_counter == (event_count - 1)) and (event_count > 1) %>
  </div>
<% end %>