<% title @event.name %>

<div class="content event-data">
  <div class="description-data">
    <div class="title">
      <%= @event.name %>
    </div>
    <div class="description">
      <%= @event.description %>
    </div>
  </div>

  <div class="where-data">
    <h2> <%= t('.where_when') %></h2><br>

    <div class="location-info five">
      <div class="place">
        <%= image_tag "pin.png", id: "maker", class: "image", align: "left", size: "25x38"%>
        <div class="loc"><%= @event.location %></div><br>
        <div class="add"><%= @event.address %></div>
      </div>
      <div class="organizer">
        <%= t('.organizer', organize: @event.organizer) %>
      </div>
      <div class="contact">
        <%= t('.contact', contact: convert_link_to(@event.contact)).html_safe %>
      </div>

      <div class="datetime">
        <div class="month"><%= localize_date(@event.date, :month_name).upcase %></div>
        <div class="day"><%= @event.date.strftime("%e") %></div>
        <div class="weekday"><%= localize_date(@event.date, :day_name) %></div>
        <div class="time"><%= localize_time(@event.date, :short_time) %></div>
      </div><br>
    </div>

    <div id="map"class="map seven"></div>
  </div>
</div>

<script type="text/javascript">
  <% params = "#{@event.latitude}, #{@event.longitude}".html_safe %>
  document.addEventListener('page:change', function(){
    new App.Utilities.Map(<%= params %>);
  });

  $(function(){
    new App.Utilities.Map(<%= params %>);
  });
</script>
