<% cache event do %>
  <p class="event">
    <%= link_to event.name, main_app.events_path %><br>
    <%= truncate event.description, length: 80 %><p>
    <%= localize_long_date event.date %><br>
    <%= event.location %><br>
    <%= t('.organizer', organize: event.organizer) %>
  </p>
<% end %>
