<sidebar>
  <div class="events">
    <% cache @current_events do %>
      <h4><%= t('.coming_events') %></h4>
      <div class="sidebar-events">
        <%= !current_events.empty? ? (render partial: 'shared/event', collection: current_events) : t('.not_content') %>
      </div>
    <% end %>
  </div>

  <div class="blog">
    <% cache @current_posts do %>
      <h4><%= t('.blog') %></h4>
      <div class="sidebar-blog">
        <%= !current_posts.empty? ? (render partial: 'shared/post', collection: current_posts) : t('.not_content') %>
      </div>
    <% end %>
  </div>

  <div class="social-links">
    <h4><%= t('.social') %></h4>
    <ul>
      <div class="icons icon-twitter">
        <i><%= link_to '@railsmx', 'http://twitter.com/railsmx', target: '_blank' %></i>
      </div>
      <div class="icons icon-google-plus">
        <i><%= link_to 'RailsMX', 'https://plus.google.com/communities/113995479213399624141', target: '_blank' %></i>
      </div>
      <div class="icons icon-microphone">
        <i><%= link_to 'Ruby en Español', 'http://rubyen.es', target: '_blank' %></i>
      </div>
      <div class="icons icon-group">
        <i><%= link_to 'Codificadas MX', 'https://www.facebook.com/Codificadas', target: '_blank' %></i>
      </div>
    </ul>
  </div>
</sidebar>
