<ul class="five social-buttons">
  <li>
    <a href="http://twitter.com/share" class="socialite twitter-share" data-text="<%= yield(:title) %>" data-url="<%= url_for(only_path: false) %>" data-count="on" rel="nofollow" target="_blank" data-lang="es">
    </a>
  </li>
  
  <li>
    <a href="https://plus.google.com/share?" class="socialite googleplus-one" data-size="medium" data-href="<%= url_for(only_path: false) %>" data-annotation="bubble" rel="nofollow" data-width="100">
    </a>
  </li>
  
  <li>
    <a href="http://www.linkedin.com/shareArticle?mini=true" class="socialite linkedin-share" data-url="<%= url_for(only_path: false) %>" data-counter="right" rel="nofollow" target="_blank">
      </a>
  </li>

  <li>
      <a href="http://www.facebook.com/sharer.php?" class="socialite facebook-like" data-href="<%= url_for(only_path: false) %>" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank" style="position:absolute; z-index:1;">
      </a>
  </li>

<script>
  document.addEventListener('page:change', function(){
    new App.Utilities.Social("<%= "#{Rails.application.config.facebook_appid}" %>");
  });

  $(function(){
    new App.Utilities.Social("<%= "#{Rails.application.config.facebook_appid}" %>");
  });
</script>