<% title t('.contact') %>
<div class="container contact">
  <%= render partial: 'shared/sidebar', locals: { current_events: @current_events } %>

  <div class="content nine">
    <h1>Contactanos</h1>
    <p> Agradecemos de antemano sus comentarios. A la brevedad posible nos comunicaremos con usted.</p>
    <div class="contact-form">
      <%= form_for @contact_form, url: contact_form_path  do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div>  
          <%= f.label 'Correo electronico' %>
          <%= f.email_field :email %>
        </div>

        <div>
          <%= f.label 'Descripcion' %>
          <%= f.text_area :message %>
        </div>

        <div class="submit">
          <%= f.submit t('.send') %>
        </div>
      <%end %>
    </div>
  </div>
</div>