<div class= "container">
  <%= form_for @contact_form, url: contact_form_path  do |f| %>
  <div class="message error">
    <%= t '.form_errors' %>
  </div>
  <div class="container">
    <div class="form-actions">
      <%= f.label :name %>
      <%= f.text_field :name, :required => true %>
      <span class="label label-important">Obligatorio</span>
      
      <%= f.label :email %>
      <%= f.email_field :email, :required => true %>
      <span class="label label-important">Obligatorio</span>
      
      <p>Comentarios</p>
      <%= f.text_area :message%>
      <br>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
  <script src="https://app.divshot.com/js/jquery.min.js"></script>
  <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  <%end %>
</div>