<%= form_for @contact_form, url: contact_form_path  do |f| %>
  <div class="message error">
    <%= t '.form_errors' %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>(required)
    <span class='error'><%= @contact_form.errors[:name] %></span>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>(required)
  </div>
  <div class="field">
    Comments (What types of wine are you interested in?):<br /> <%= f.text_area :message %><br />
  </div>
  <div class="field">
    Submit: <%= f.submit "Create" %>
  </div>

<% end %>
