  <% if event %>
  <h2><%= event.name %></h2>
  <h4>    
  <%= localize_long_date event.date %><br>
  <%= event.location %><br>
  <%= t('.organizer', organize: event.organizer) %><br>
  <%= display_edit_event_link event %>
  </h4>
  <% if all %>
  <p><%= truncate	event.description, length: 200 %></p> 
  <% end %>
  <% else %>
  <h3>Evento no disponible<h3>
  <% end %>