<div class="form-event">
<%= form_for event, url: event_path(event) do |f| %>
    <div class="row eight">
      <label><%= t('.event_name') %></label>
      <%= f.text_field :name %>
      <%= field_error event, :name %>
    </div>
    <div class="row eight">
      <label><%= t('.place') %></label>
      <%= f.text_field :location, class: 'place', placeholder: t('.ph_place') %>
      <%= field_error event, :location %>
    </div>
    <div class="row eight">
      <label><%= t('.date') %></label>
      <%= f.text_field :date, class: 'date datepicker' %>
      <%= f.text_field :time, class: 'time' %>
      <%= field_error event, :date %>
    </div>
    <div class="row eight">  
      <label><%= t('.organizer') %></label>
      <%= f.text_field :organizer, placeholder: t('.ph_organizer') %>
    </div>
    <div class="row eight"> 
      <label><%= t('.contact') %></label>
      <%= f.text_field :contact, placeholder: t('.ph_contact') %>
      <%= field_error event, :contact %>
    </div>
    <div class="row eight">
      <label><%= t('.description') %></label>
      <%= f.text_area :description, class: 'areamail'%>
    </div>
    <div class="submit eight">
      <%= f.submit t('.register_event') %> o <%= link_to t('.back'), events_path %>
    </div>
<% end %>
</div>

<script type="text/javascript">
  
  new App.Utilities.DateTimeInput;


 /*startDate = new Date();
 endDate = (new Date())
 endDate.setDate(startDate.getDate()+180);
 
 $('.datepicker').datepicker(
    { 
      startDate: startDate,
      endDate: endDate,
      language: 'es',
      format: 'dd/mm/yyyy',
      autoclose: true
    }
  );

  $('.time').inputmask('h:s t', {autoUnmask: true, placeholder: " "});*/
</script>
