<h2><%= t('.recent_events') %></h2>
<div class="eleven-custom event-section">
  <% if pasts.size > 0 %>
    <% if pasts.first %>
      <div class="first-past five-half">
        <h2><%= link_to pasts.first.name, event_path(pasts.first) %></h2>
        <h4>
          <%= localize_long_date pasts.first.date %><br>
          <%= pasts.first.location %><br>
          <%= t('.organizer', organize: pasts.first.organizer) %>
        </h4>
      </div>
    <% end %>
    <% if pasts.second %>
      <div class="second-past five-half">
        <h2><%= link_to pasts.second.name, event_path(pasts.second) %></h2>
        <h4>
          <%= localize_long_date pasts.second.date %><br>
          <%= pasts.second.location %><br>
          <%= t('.organizer', organize: pasts.second.organizer) %>
        </h4>
      </div>
    <% end %>
  <% else %>
    <h4><%= t('.not_recent_events') %></h4>
  <% end %>
</div>  