<% if event.date > DateTime.now  %>
  <% first = true if @current_events.first == event %>
  <div class="<%= first ? "first" : "second five-half"%>">
    <div class="<%= first ? "two" : "one-half" %> datetime">
      <div class="month"><%= localize_month event.date %></div>
      <div class="day"><%= event.date.strftime("%e") %></div>
      <div class="weekday"><%= localize_weekday event.date %></div>
      <div class="time"><%= localize_time event.date %></div>
    </div>
    <div class="<%= first ? "nine" : "four" %> main-data">
      <span class="title"><%= link_to (truncate event.name, length: 16), event_path(event) %></span><br>
      <span class="location">
        <%= image_tag "pin.png", id: "maker", align: "left", size: "20x31" %>
        <%= event.location %></span><br>
      <span class="organizer"><%= t('.organizer', organize: truncate(event.organizer, length: 18)) %></span><br>
      <span class="description">
        <%= truncate event.description, length: first ? 300 : 150 %>
        <%= link_to t('.edit_event'), edit_event_path(event) %>
      </span>
    </div>
  </div>
<% else %>
  <div class="third five-half">
    <div class="one-half datetime">
      <div class="month"><%= localize_month event.date %></div>
      <div class="day"><%= event.date.strftime("%e") %></div>
      <div class="weekday"><%= localize_weekday event.date %></div>
    </div>
    <div class="four main-data">
      <span class="title"><%= link_to (truncate event.name, length: 16), event_path(event) %></span><br>
      <%= image_tag "pin.png", id: "maker", align: "left" %>
      <span class="location"><%= event.location %></span><br>
      <span class="organizer"><%= t('.organizer', organize: event.organizer) %></span><br><br>
    </div>
  </div>
<% end %>