<% (event.date <= DateTime.now) ? (past = true) : (@current_events.first == event ? (first = true) : (first = false)) %>
<!--<%= event_counter+1 %> -->
<div class="<%= past ? "third five-half" : (first ? "first" : "second five-half")%>">
  <div class="<%= first ? "two" : "one-half" %> datetime">
    <div class="month"><%= localize_month(event.date).upcase %></div>
    <div class="day"><%= event.date.strftime("%e") %></div>
    <div class="weekday"><%= localize_weekday event.date %></div>
    <div class="time"><%= localize_time event.date if !past %></div>
  </div>
  <div class="<%= first ? "nine" : "four" %> main-data">
    <span class="title"><%= link_to (truncate event.name, length: first ? 25 : 16), event_path(event) %></span><br>
    <span class="location">
      <%= image_tag "pin.png", id: "maker", align: "left", size: "20x31" %>
      <%= event.location %></span><br>
    <span class="organizer"><%= t('.organizer', organize: truncate(event.organizer, length: first ? 25 : 17)) %></span><br>
    <% if !past %>
      <span class="description">
        <%= truncate event.description, length: first ? 300 : 150 %>
        <%= link_to t('.edit_event'), edit_event_path(event) %>
      </span>
    <% end %>
  </div>
</div>