<%= display_notice %>

<%= display_create_event_link %>

<h3>Eventos recientes</h3>
<% @current_events.each do |event| %>
  <div id="event_<%= event.id %>">
    name:<%= event.name %> |
    <%= display_edit_event_link event %>
  </div>
<% end %>
<p>
<h3>Eventos pasados</h3>
<% @past_events.each do |event| %>
  <div id="event_<%= event.id %>">
    name:<%= event.name%>
  </div>
<% end %>