<div class="eleven-3quarters content">
  <%= display_notice %>
  <h1>
    <%= t('.events') %>
    <%= display_create_event_link %>
  </h1>
  <p><%= t('.help_text') %></p>

  <div class="eleven-custom event-section">
    <%= @current_events.size > 0 ? (render partial: 'show_event', collection: @current_events, :as => :event) : t('.not_upcoming_events') %>
  </div>

  <h2><%= t('.recent_events') %></h2>
  <div class="eleven-custom event-section">
    <%= @past_events.size > 0 ? (render partial: 'show_event', collection: @past_events, :as => :event) : t('.not_recent_events') %>
  </div>

  <h3><%= t('.blog') %></h3>
  <div class="eleven-custom event-section">

  </div>
</div>