<div class="container">
  <%= form_for @event, url: events_path  do |f| %>
  <div class="container">
    <div class="page-header">  
      <label>Nombre del evento:</label>
      <%= f.text_field :name, :required => true %>
      <label>Lugar:</label>
      <%= f.text_field :location %>
      <p>Fecha de inicio:</p>
      <%= f.text_field :date, :class => 'datepicker_start', :required => true %>
      <p>Fecha de termino:</p>
      <%= f.text_field :date, :class => 'datepicker', :required => true %>
      <label>Organizador:</label>
      <%= f.text_field :organizer, :required => true %>
      <label>Contacto:</label>
      <%= f.text_field :contact, :required => true %>
      <label>Descripcion:</label>
      <%= f.text_area :description, :class => 'areamail'%>
      <br>
      <input type="text" class="date-picker" data-start-date="2012-01-01">
      <button type="submit"class="btn btn-danger btn-large">Crear Evento</button>
    </div>
  <%end%>
  </div>
</div>

<script type="text/javascript">
 $('.datepicker_start').datepicker()
</script>