  <%= content_for :custom_css do %>
    <%= stylesheet_link_tag 'http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' %>
    <%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css' %>
  <% end %>

  <%= content_for :custom_js do %>
    <%=javascript_include_tag "http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js" %>
    <%=javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js" %>
    <%=javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false" %>
  <% end %>

<div class="eleven-3quarters content">
  <%= display_notice %>
  
  <h1>Evento</h1>
  <div id='location'>
    <%= @event.location %>
  </div><br>
  <div id='map'></div>

  <script>
    var map = new Map("<%= @event.location %>");
  </script>
</div>
