  <%= content_for :custom_css do %>
    <%= stylesheet_link_tag 'http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' %>
    <%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css' %>
  <% end %>

  <%= content_for :custom_js do %>
    <%=javascript_include_tag "http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js" %>
    <%=javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js" %>
  <% end %>

<div class="eleven-3quarters content">
  <%= display_notice %>
  
  <h1>Evento</h1>
  <div id='location'>
    <%= @event.location %>
  </div><br>
  <div id='map'></div>

  <script>

    map = mapbox.map('map');
    map.addLayer(mapbox.layer().id('examples.map-4l7djmvo'));

    markerLayer = mapbox.markers.layer();

    mapbox.markers.interaction(markerLayer);
    map.addLayer(markerLayer);

     wax.tilejson('http://api.tiles.mapbox.com/v3/examples.map-4l7djmvo/geocode/' +        
      encodeURIComponent("San fernando, colima") + '.json', function(position) {
      if (position && position.results && position.results.length) {
            console.log(position);
            
            position = position.results[0][0];
            
            map.zoom(10).center({
              lat: position.lat,
              lon: position.lon
            });

            markerLayer.add_feature({
              geometry: {
                coordinates: [
                  position.lon,
                  position.lat]
              },
              properties: {
                'marker-color': '#000',
                'marker-symbol': 'star-stroked',
              }
            });
        }
    });

  </script>
</div>
