<%- title @post.title %>
<%- custom_url_for(main_app.post_path(only_path: false)) %>
<div class="content post-show">
  <section class="left-section">
    <div class="author">
      <div class="avatar">
        <% if @post.author.email.present? %>
          <%= gravatar_image_tag(@post.author.email.gsub('spam', @post.author.username), alt: @post.author.username, gravatar: { size: 56 }) %>
        <% else %>
          <%= gravatar_image_tag('junk', alt: 'Github Default Gravatar') %>
        <% end %>
      </div>
      <h3 class="published"><%= @post.author.username %></h3>
      <div class="published-date">
         Publicado<br>
         <%= date_published_post(@post.published_at) %>
      </div>
    </div>
    <%= render partial: 'shared/sidebar', locals: { current_events: @current_events, current_posts: @current_posts } %>
  </section>

  <section class="right-section">
    <% cache @post do %>
      <h1 class="post-title"><%= link_to @post.title, main_app.post_path(*@post.url_params) %></h1>
      <div class="body">
        <%= @post.html_body %>
      </div>
    <% end %>
    <div id="disqus_thread"></div>
    <script>
      <%- shortname = Rails.application.config.discus_key %>
      document.addEventListener('page:change', function(){
        new App.Utilities.DisQus("<%= shortname %>")
      });

      $(function(){
        new App.Utilities.DisQus("<%= shortname %>")
      });
    </script>
  </section>
</div>
<script>
  document.addEventListener('page:change', function(){
    new App.Utilities.Highligh
  });

  $(function(){
    new App.Utilities.Highligh
  });
</script>
