<% title t('.who_we_are') %>
<div class="content about">

  <span class="line"></span>
  <h1><%= t('.about_coderetreat') %></h1>
  <span class="line"></span>
  <section>
    <div class="left-column six">
      <h2>Evento de un día para prácticar los fundamentos del diseño y desarrollo de software</h2>
      <p>El Coderetreat es un evento de un día de práctica, enfocado revisar los fundamentos del diseño y desarrollo de software. A través de proveer a los desarrolladores la oportunidad de formar parte de éste ejercicio prático, eliminando la presión de <em>terminar lo que se comenzó</em>, el formato del Coderetreat ha provado ser una herramienta efectiva para el desarrollo y mejora de las habilidades de los asistentes.</p>

      <p>Practicando los principios básico del diseño modular y orientado a objetos, le dá a los desarrolladores la habilidad de escribir código que minimize el costo del cambio en el software.</p>

      <p>El Coderetreat no es un curso para aprender a desarrollar, se asume que los asistentes tienen las bases basicás del desarrollo de software. Así mismo, el Coderetreat no se enfoca en ningun lenguaje en particular, es decir, es agnóstico.</p>
    </div>
    <div class="right-column six">
      <p>Para conocer un poco más del Coderetrat, el siguiente video captura la folosofía del mismo.</p>
      <iframe src="http://player.vimeo.com/video/18955165" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

      <p><a href="http://vimeo.com/18955165">Introducción del Coderetreat en Cleveland</a> por <a href="http://vimeo.com/coreyhaines">Corey Haines</a> en <a href="http://vimeo.com">Vimeo</a>.</p>
    </div>
  </section>

  <span class="line"></span>
  <h1><%= t('.history') %></h1>
  <span class="line"></span>
  <section>
    <div class="left-column six">
      <p>
      La historia de los Coderetreat se remonta hasta enero 2009, cuando Gary Bernhardt, Patrick Welsh, Nayan Hajratwala y Corey Haines, que asistian a la conferencia <em>Codesmash</em>, desarrollaron la idea de contar con un evento repetible enfocado a practicar los fundamentos del desarrollo de software. Este primer evento se llevó a cabo el 24 de enero del 2009.
      </p>
      <p>
      Desde ese entonces, cientos de Coderetreats se han llevado a cabo alrededor del mundo, y aunque el formato del mismo ha evolucionado en base a las experiencias de los facilitadores, la idea principal se ha mantenido intacta.
      </p>
    </div>

    <div class="right-column six">
      <p>
      En los primeros Coderetreats se usaba generalmente Java como el lenguaje oficial, debido a que casi todo el mundo podía codificar en él, más adelante se incluyeron más lenguajes, el más notable era Ruby. Pero actualmente los Coderetreat son multi-lenguaje, así que no es difícil encontrar gente practicando en C#, Java, Javascript o Python.
      </p>
      <p>
      En el 2011 se llevó a cabo el primer <em>Día global del Coderetreat</em>, donde decenas de ciudades se unieron en 32 horas de Coderetreat, que se llevaron a cabo a través de diferentes zonas horarias, iniciando en Australia y finalizando en Hawaii.
      </p>
       <h2>El primer Code Retreat se llevó a cabo el 24 de Junio del 2009</h2>
    </div>
  </section>

  <span class="line"></span>
  <h1><%= t('.oragnize_coderetreat') %></h1>
  <span class="line"></span>
  <section>
    <div class="left-column six">
      <%= image_tag "About-picture.png", class: "image" %>
    </div>

    <div class="right-column six">
      <p>Todos pueden organizar un Coderetreat, no es evento exclusivo o de paga, en general solo se necesita:</p>

      <p>Un facilitador, cuyas responsabilidades incluyen</p>

      <ul>
        <li>La introducción del evento</li>
        <li>Explicar en que consiste el juego de la vida de Conway</li>
        <li>Guiar a los pares durante cada sesión</li>
        <li>Liderear las retrospectivas de las sesiones</li>
        <li>Liderear el círculo de cierre</li>
      </ul>


      <p>En pocas palabras el facilitador se encarga de que la gente aprenda los más posible.</p>

      <p>Además del facilitador, se necesita de contar con un lugar con espacio adecuado para el número de asistentes, proporcionar cafetería y una comida ligera durante el día - no pizzas -.</p>

      <p>Si necesitas ayuda para organizar tu Coderetreat, <%= link_to 'Contáctanos', static_path(:acerca) %> y buscaremos la forma de poder ayudarte a organizar tu evento.</p>
    </div>
  </section>
</div>
