<section class="hero">
  <div class="welcome-text seven %>">Pasión por el <br>desarrollo de software</div>
</section>

<div class="content home-index">
  <%= display_notice %>
  <section class="top-section">
    <div class="four">
      <h3><%= t('.intense_practice') %></h3>
      <p><%= t('.practice_descrip')%></p>
    </div>
    <div class="four">
      <h3><%= t('.focused_fundamentals') %></h3>
      <p><%= t('.fundamentals_descrip')%></p>
    </div>
    <div class="four">
      <h3><%= t('.improve_skills') %></h3>
      <p><%= t('.skills_descrip')%></p>
    </div>
  </section>

  <section class="left-section eight">
    <%= image_tag "game-of-life.png" %>
    <h3>Coderetreat</h3>
    <p>
      El Coderetreat surge como una idea de Gary Bernhardt, Patrick Welsh, Nayan Hajratwala y Corey Haines, de desarrollar un concepto repetible, de un día de duración, enfocado a practicar los fundamentos del desarrollo de software.
    </p>
    <p>
      Esta idea o concepto hace uso del problema matemático "El juego de la vida" de John Conway, el cual es lo suficientemente sencillo para entender el problema sobre el cuál se trabajará.
    </p>
    <div class="last-p">
      Durante el Coderetreat no existe la presión de tener un entregable, todo se reduce a llevar a cabo ideas y conceptos de desarrollo de software que en nuestras actividades diarias puede ser difícil llevar a cabo.
    </div>
    <%= link_to t('.more_information'), static_path(:acerca), class: 'more-info'%>
  </section>

  <section class="right-section four">
    <%= render partial: 'shared/sidebar', locals: { current_events: @current_events } %>
  </section>
</div>
