<section class="hero">
  <div class="welcome-text seven %>">Pasión por el <br>desarrollo de software</div>
</section>

<div class="content">
  <section class="top-section">
    <div class="four">
      <h3><%= t('.intense_practice') %></h3>
      <p><%= t('.practice_descrip')%></p>
    </div>
    <div class="four">
      <h3><%= t('.focused_fundamentals') %></h3>
      <p><%= t('.fundamentals_descrip')%></p>
    </div>
    <div class="four">
      <h3><%= t('.improve_skills') %></h3>
      <p><%= t('.skills_descrip')%></p>
    </div>
  </section>

  <!-- <%= render partial: 'shared/sidebar', locals: { current_events: @current_events } %> -->
</div>