<!doctype html>
<html>
  
  <head>
    <title>Rails Mx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <%=stylesheet_link_tag "application" %>
    <%=javascript_include_tag "application" %>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><br></a>
          <div class="navbar-content">
            <ul class="nav ">
              <li>
                <%=link_to "Blog", ('#')%>
              </li>
              <li>
                <%=link_to "Comunidad", ('acerca')%>
              </li>
              <li>
                <%=link_to "Eventos", ('Privacidad')%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%=yield%>
    </div>
    <div class="footer">
      <li>
        <%=link_to "Acerca", ('acerca')%>
      </li>
      <li>
        <%=link_to "Privacidad", ('privacidad')%>
      </li>
      <li>
        <%=link_to "Contactanos", ('contacto')%> 
      </li>
  </div>
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </body>

</html>