<!doctype html>
<html>
  <head>
    <title><%= yield(:title).empty? ? "rails.mx" : yield(:title) %></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <%= stylesheet_link_tag "application" %>
    <%= yield :custom_css if content_for?(:custom_css) %>
    <%= javascript_include_tag "application" %>
    <%= yield :custom_js if content_for?(:custom_js) %>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="banner six">
          <span class="logo"><%= link_to image_tag("railsmx-mini.png", :border => 0), root_path %></span>
          <ul class="menu">
            <li><%= link_to t('.events'), events_path %></li>
            <li><%= link_to t('.blog'), "#" %></li>
          </ul>
        </div>
        <div class="welcome six">
          <%= display_login_link do %>
            <span class="user-info">
              <%= t('.welcome', user: current_identity.try(:username))  %>
              <%= gravatar_image_tag(current_identity.email.gsub('spam', current_identity.username), :alt => current_identity.username) %>
            </span>
            <%= link_to t('.sign_out'), signout_path, class: "sign-out zocial secondary", style: "font-size: .8em;" %>
          <% end %>
        </div>
      </div>
    </header>
     <%= display_warden_message_tag %>
    <div class="container <%= controller.controller_name %>">
      <%= yield %>
      <%= render partial: 'shared/socialite' %>
    </div>

    <footer style="background-color: #000">
      <div class="container">
        <div class="four">
          <ul class="submenu">
            <li><%= link_to t('.who_we_are'), acerca_path %></li>
            <li><%= link_to t('.contact'), contact_form_new_path %></li>
            <li><%= link_to t('.privacy'), privacidad_path %></li>
          </ul>
        </div>
        <div class="three">
          <span class="logo"><%= link_to (image_tag "railsmx.png"), root_path %></span>
        </div>
      </div>
    </footer>
  </body>
</html>
