<!doctype html>
<html>
  <head>
    <title>Rails Mx</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <%=stylesheet_link_tag "application" %>
    <%=javascript_include_tag "application" %>
  </head>
  <body>
  <div id="wrap">
    <header>
      <div class="logo">
        <span>Rails Mx</span>
        <%= link_to t('.events'), events_path %>
      </div>
      <div class="welcome">
        <%= display_login_link do %>
          <span class="user-info">
            <%= t('.welcome', user: current_identity.try(:username))  %> 
            <%= gravatar_image_tag(current_identity.email.gsub('spam', current_identity.username), :alt => current_identity.username) %>       
          </span>
          <%= link_to t('.sign_out'), signout_path, class: "sign-out zocial github" %>
        <% end %>  
      </div>
    </header>

    <div class="content">
      <%= display_warden_message_tag %><p>
      <%=yield%>
    </div>  

    <div id="footer">
    </div>
  </div>  
  </body>
</html>
